<h1>welcome</h1>
{{!-- {{ results}}
{{ link}} --}}
<ul class="list-group">
    {{#each results}}
    <li class="list-group-item">
    </li>>{{this.title}}</li>
    <button type="button" class="btn btn-secondary">{{this.link}}</button>
    <form action={{this.link}}>
        <input type="submit" value="Go to Google" />
    </form>

    <li></li>

    {{/each}}
</ul>

{{!-- <ul>
    {{#each link}}
    <li>{{this.link}}</li>
    {{/each}}
</ul> --}}