<h1>welcome</h1>
{{!-- {{ results}}
{{ link}} --}}
<ul>
    {{#each results}}
    <li>{{this.title}}</li>
    <li>{{this.link}}</li>

    {{/each}}
</ul>
{{!-- <ul>
    {{#each link}}
    <li>{{this.link}}</li>
    {{/each}}
</ul> --}}