<h1>welcome</h1>
  


<ul class="list-group">
    
    {{#each results}}
    

    <li class="list-group-item">
    </li>>{{this.title}}</li>
    </li>>{{this.deleted}}   

</li>


    <button type="button" class="btn btn-secondary">{{this.link}}</button>
    <form action={{this.link}}    
         
>
        <input type="submit" value="Go to article" />
    </form>
	
   
    <form action={{this.delete_route}}>
        
        <input type="submit" value="delete" />
    </form>

    <li></li>

    {{/each}}
</ul>

